In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [32]:
train_set = pd.read_csv("train.csv")
test_set = pd.read_csv("test.csv")

In [3]:
train_set

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0
5,YAK/S/00007,Customer Support and Field Operations,First Degree or HND,Female,Agency and others,2,1990,7.5,2014,0,0,51,ENUGU,Yes,Married,No,Yes,1,0
6,YAK/S/00008,Customer Support and Field Operations,"MSc, MBA and PhD",Male,Direct Internal process,2,1988,7.5,2013,0,0,55,OYO,No,Single,No,No,1,0
7,YAK/S/00009,Information and Strategy,First Degree or HND,Male,Agency and others,2,1993,10.0,2014,0,0,75,LAGOS,Yes,Married,No,No,0,0
8,YAK/S/00010,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Direct Internal process,2,1989,12.5,2014,1,0,46,ONDO,Yes,Married,No,No,0,0
9,YAK/S/00012,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,2,1986,12.5,2016,1,0,42,LAGOS,Yes,Married,No,No,0,1
10,YAK/S/00013,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1972,12.5,2014,1,0,41,KWARA,Yes,Married,No,Yes,1,0
11,YAK/S/00014,Information Technology and Solution Support,"MSc, MBA and PhD",Male,Agency and others,3,1982,7.5,2003,0,0,72,EDO,Yes,Married,No,No,0,0
12,YAK/S/00018,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1987,2.5,2015,0,0,43,LAGOS,Yes,Single,No,Yes,1,0
13,YAK/S/00020,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,7.5,2010,0,0,51,BAUCHI,Yes,Married,No,No,1,0
14,YAK/S/00021,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1986,7.5,2012,0,0,67,TARABA,Yes,Married,No,No,0,0
15,YAK/S/00022,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1980,10.0,2008,0,0,49,RIVERS,Yes,Married,No,No,1,0
16,YAK/S/00023,Business Finance Operations,First Degree or HND,Female,Agency and others,2,1993,7.5,2015,0,0,55,KADUNA,Yes,Married,No,No,4,0
17,YAK/S/00024,Sourcing and Purchasing,First Degree or HND,Male,Agency and others,2,1994,0.0,2018,0,0,62,LAGOS,Yes,Single,No,No,4,0
18,YAK/S/00025,Business Finance Operations,"MSc, MBA and PhD",Male,Direct Internal process,3,1982,12.5,2012,0,0,51,PLATEAU,Yes,Single,No,Yes,0,0
19,YAK/S/00026,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1994,12.5,2016,1,0,75,LAGOS,Yes,Married,No,No,1,0
20,YAK/S/00029,Information and Strategy,First Degree or HND,Male,Agency and others,2,1992,12.5,2016,1,0,72,LAGOS,Yes,Married,No,No,1,0
21,YAK/S/00030,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1995,0.0,2018,0,0,36,EKITI,Yes,Married,No,No,1,0
22,YAK/S/00033,Commercial Sales and Marketing,NaN,Female,Direct Internal process,2,1997,2.5,2017,0,0,40,EDO,Yes,Married,No,No,1,0
23,YAK/S/00035,Information and Strategy,First Degree or HND,Male,Agency and others,3,1994,12.5,2016,1,0,79,BORNO,Yes,Married,No,No,0,0
24,YAK/S/00036,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1981,5.0,2015,1,0,39,BORNO,Yes,Single,No,No,3,0
25,YAK/S/00037,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,2,1988,10.0,2015,1,0,67,LAGOS,Yes,Married,No,No,1,0
26,YAK/S/00039,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,2,1979,12.5,2014,1,0,43,IMO,Yes,Married,No,No,1,0
27,YAK/S/00042,Customer Support and Field Operations,First Degree or HND,Female,Agency and others,3,1998,10.0,2017,1,0,49,LAGOS,Yes,Single,No,Yes,1,0
28,YAK/S/00044,Commercial Sales and Marketing,NaN,Male,Agency and others,4,1997,5.0,2017,0,0,40,CROSS RIVER,Yes,Married,No,No,1,0
29,YAK/S/00046,Sourcing and Purchasing,First Degree or HND,Female,Direct Internal process,2,1971,12.5,2008,0,0,63,KANO,No,Married,No,Yes,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38282,YAK/S/54761,Business Finance Operations,First Degree or HND,Male,Agency and others,2,1994,5.0,2015,0,0,48,OGUN,Yes,Single,No,No,0,0
38283,YAK/S/54763,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Agency and others,2,1985,5.0,2017,0,0,61,LAGOS,No,Single,No,No,0,0
38284,YAK/S/54764,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1985,12.5,2011,1,0,48,BENUE,Yes,Married,No,No,1,0
38285,YAK/S/54765,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1975,2.5,2015,1,0,39,EDO,Yes,Single,No,No,1,0
38286,YAK/S/54766,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1988,2.5,2016,0,0,40,KWARA,Yes,Married,No,No,1,0
38287,YAK/S/54769,Information Technology and Solution Support,"MSc, MBA and PhD",Female,Direct Internal process,2,1980,12.5,2013,1,0,71,BAYELSA,Yes,Single,No,No,1,0
38288,YAK/S/54770,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,2.5,2017,0,0,52,YOBE,Yes,Married,No,No,0,0
38289,YAK/S/54771,Information Technology and Solution Support,First Degree or HND,Female,Agency and others,2,1997,7.5,2017,1,0,72,KADUNA,Yes,Married,No,Yes,5,0
38290,YAK/S/54772,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1988,12.5,2015,0,0,42,AKWA IBOM,Yes,Married,No,No,1,0
38291,YAK/S/54774,Business Finance Operations,First Degree or HND,Male,Agency and others,2,1998,0.0,2018,1,0,53,OGUN,Yes,Married,No,No,1,0
38292,YAK/S/54775,Customer Support and Field Operations,First Degree or HND,Male,Direct Internal process,2,1987,2.5,2014,0,0,49,LAGOS,Yes,Married,No,No,1,0
38293,YAK/S/54777,People/HR Management,Non-University Education,Female,Direct Internal process,2,1999,12.5,2017,0,0,39,FCT,Yes,Married,No,No,1,0
38294,YAK/S/54779,Sourcing and Purchasing,First Degree or HND,Female,Direct Internal process,2,1991,7.5,2016,0,0,62,FCT,Yes,Married,No,No,0,0
38295,YAK/S/54781,Customer Support and Field Operations,First Degree or HND,Female,Direct Internal process,2,1982,12.5,2012,0,0,52,RIVERS,Yes,Married,No,No,1,0
38296,YAK/S/54783,Customer Support and Field Operations,Non-University Education,Male,Direct Internal process,3,1995,7.5,2017,0,0,52,RIVERS,Yes,Married,No,Yes,0,0
38297,YAK/S/54786,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,10.0,2012,1,0,69,DELTA,Yes,Single,No,No,1,0
38298,YAK/S/54788,Information Technology and Solution Support,First Degree or HND,Male,Direct Internal process,5,1995,7.5,2016,0,0,76,FCT,Yes,Married,No,No,0,0
38299,YAK/S/54789,Commercial Sales and Marketing,First Degree or HND,Female,Direct Internal process,3,1993,7.5,2016,0,0,40,FCT,Yes,Married,No,No,0,0
38300,YAK/S/54790,Commercial Sales and Marketing,"MSc, MBA and PhD",Male,Agency and others,4,1990,7.5,2010,0,0,42,OYO,Yes,Single,No,No,1,0
38301,YAK/S/54791,People/HR Management,First Degree or HND,Female,Direct Internal process,2,1973,12.5,2015,0,0,41,DELTA,Yes,Single,No,No,2,0
38302,YAK/S/54793,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1962,7.5,2008,0,0,57,KANO,Yes,Married,No,No,1,1
38303,YAK/S/54794,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1988,2.5,2010,0,0,71,BENUE,Yes,Single,No,No,1,0
38304,YAK/S/54796,Sourcing and Purchasing,"MSc, MBA and PhD",Male,Agency and others,2,1986,7.5,2012,0,0,62,FCT,Yes,Married,No,Yes,4,0
38305,YAK/S/54799,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Agency and others,3,1981,12.5,2015,1,0,43,FCT,Yes,Married,No,No,1,0
38306,YAK/S/54801,People/HR Management,First Degree or HND,Male,Agency and others,3,1987,12.5,2016,0,0,44,LAGOS,Yes,Married,No,No,1,0
38307,YAK/S/54802,Information Technology and Solution Support,First Degree or HND,Female,Direct Internal process,2,1990,0.0,2018,0,0,70,LAGOS,Yes,Married,No,No,0,0
38308,YAK/S/54805,Customer Support and Field Operations,"MSc, MBA and PhD",Female,Agency and others,2,1984,5.0,2013,0,0,48,IMO,Yes,Married,No,No,1,0
38309,YAK/S/54806,Information and Strategy,First Degree or HND,Male,Agency and others,2,1994,12.5,2016,1,0,71,ANAMBRA,No,Married,No,No,3,0
38310,YAK/S/54807,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1992,2.5,2017,0,0,37,KWARA,Yes,Married,No,No,1,0
38311,YAK/S/54808,People/HR Management,First Degree or HND,Male,Agency and others,2,1994,2.5,2014,0,0,41,KWARA,Yes,Single,No,No,2,0

In [4]:
#taking care of missing data
train_set.isnull().sum()

EmployeeNo                                0
Division                                  0
Qualification                          1679
Gender                                    0
Channel_of_Recruitment                    0
Trainings_Attended                        0
Year_of_birth                             0
Last_performance_score                    0
Year_of_recruitment                       0
Targets_met                               0
Previous_Award                            0
Training_score_average                    0
State_Of_Origin                           0
Foreign_schooled                          0
Marital_Status                            0
Past_Disciplinary_Action                  0
Previous_IntraDepartmental_Movement       0
No_of_previous_employers                  0
Promoted_or_Not                           0
dtype: int64

In [5]:
test_set.isnull().sum()

EmployeeNo                               0
Division                                 0
Qualification                          730
Gender                                   0
Channel_of_Recruitment                   0
Trainings_Attended                       0
Year_of_birth                            0
Last_performance_score                   0
Year_of_recruitment                      0
Targets_met                              0
Previous_Award                           0
Training_score_average                   0
State_Of_Origin                          0
Foreign_schooled                         0
Marital_Status                           0
Past_Disciplinary_Action                 0
Previous_IntraDepartmental_Movement      0
No_of_previous_employers                 0
dtype: int64

In [6]:
train_set['Qualification'] = train_set['Qualification'].fillna("others")

test_set['Qualification'] = test_set['Qualification'].fillna("others")

In [7]:
train_set.isnull().sum()

EmployeeNo                             0
Division                               0
Qualification                          0
Gender                                 0
Channel_of_Recruitment                 0
Trainings_Attended                     0
Year_of_birth                          0
Last_performance_score                 0
Year_of_recruitment                    0
Targets_met                            0
Previous_Award                         0
Training_score_average                 0
State_Of_Origin                        0
Foreign_schooled                       0
Marital_Status                         0
Past_Disciplinary_Action               0
Previous_IntraDepartmental_Movement    0
No_of_previous_employers               0
Promoted_or_Not                        0
dtype: int64

In [8]:
test_set.isnull().sum()

EmployeeNo                             0
Division                               0
Qualification                          0
Gender                                 0
Channel_of_Recruitment                 0
Trainings_Attended                     0
Year_of_birth                          0
Last_performance_score                 0
Year_of_recruitment                    0
Targets_met                            0
Previous_Award                         0
Training_score_average                 0
State_Of_Origin                        0
Foreign_schooled                       0
Marital_Status                         0
Past_Disciplinary_Action               0
Previous_IntraDepartmental_Movement    0
No_of_previous_employers               0
dtype: int64

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

corr_matrix = train_set.corr()
f, ax = plt.subplots(figsize=(18, 10))
sns.heatmap(corr_matrix, linewidths=2.0, ax=ax, annot=True)
ax.set_title('Correlation Matrix')

In [9]:
x = train_set.drop("Promoted_or_Not", axis=1)
y = train_set["Promoted_or_Not"]

In [10]:
x = train_set.drop(['EmployeeNo', "Promoted_or_Not"], axis=1)
test  = test_set.drop('EmployeeNo', axis=1).copy()
x.shape, y.shape, test.shape

((38312, 17), (38312,), (16496, 17))

In [11]:
x = pd.get_dummies(x, prefix_sep='_', drop_first=True)
test = pd.get_dummies(test, prefix_sep='_', drop_first=True)

In [12]:
#splitting the dataset into train and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 225)

In [13]:
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
light_model = LGBMClassifier()
light_model.fit(x_train,y_train)

# make predictions for test set
y_pred = light_model.predict(x_test)
predictions = [round(value) for value in y_pred]

accuracy = accuracy_score(y_test, predictions) 
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 94.53%

In [18]:
##hyperparameter tuning

In [19]:
param_grid = {'num_leaves':[7,15,31,63],
             'max_depth':[3,4,5,6,-1]}

In [20]:
from sklearn.model_selection import GridSearchCV
grid_sercher = GridSearchCV(estimator = light_model,param_grid =param_grid, cv=5 , verbose = 1,
                           n_jobs = 4)

In [21]:
grid_sercher.fit(x_train,y_train)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:  3.2min
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:  6.4min finished

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.1, max_depth=-1,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
        random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0),
       fit_params=None, iid='warn', n_jobs=4,
       param_grid={'num_leaves': [7, 15, 31, 63], 'max_depth': [3, 4, 5, 6, -1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=1)

In [22]:
grid_sercher.best_params_,grid_sercher.best_score_

({'max_depth': -1, 'num_leaves': 15}, 0.9403243172697314)

In [23]:
accuracy_score(y_test,grid_sercher.predict(x_test))

0.9457131671669059

In [24]:
##2 stage hyperparameter tuning

In [37]:
final_light_model = LGBMClassifier(n_estimators=200,num_leaves=73,
                                   learning_rate=0.1,max_depth=-5,n_jobs=4)

In [38]:
final_light_model.fit(x_train,y_train)
# make predictions for test set
y_pred = light_model.predict(x_test)
predictions = [round(value) for value in y_pred]

accuracy = accuracy_score(y_test, predictions) 
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 94.53%

In [27]:
new_pred = final_light_model.predict(test)

In [28]:
test_sets = pd.read_csv("test.csv")

In [29]:
submision94 = pd.DataFrame({"EmployeeNo": test_sets["EmployeeNo"], "Promoted_or_Not": new_pred})
submision94

        EmployeeNo  Promoted_or_Not
0      YAK/S/00005                0
1      YAK/S/00011                0
2      YAK/S/00015                0
3      YAK/S/00016                0
4      YAK/S/00017                0
5      YAK/S/00019                0
6      YAK/S/00027                0
7      YAK/S/00028                0
8      YAK/S/00031                0
9      YAK/S/00032                0
10     YAK/S/00034                0
11     YAK/S/00038                0
12     YAK/S/00040                0
13     YAK/S/00041                0
14     YAK/S/00043                0
15     YAK/S/00045                0
16     YAK/S/00047                0
17     YAK/S/00049                0
18     YAK/S/00050                0
19     YAK/S/00051                0
20     YAK/S/00058                0
21     YAK/S/00060                0
22     YAK/S/00063                0
23     YAK/S/00067                0
24     YAK/S/00069                0
25     YAK/S/00072                0
26     YAK/S/00080                1
27     YAK/S/00083                0
28     YAK/S/00084                0
29     YAK/S/00088                0
...            ...              ...
16466  YAK/S/54726                0
16467  YAK/S/54738                0
16468  YAK/S/54742                0
16469  YAK/S/54743                0
16470  YAK/S/54744                0
16471  YAK/S/54748                0
16472  YAK/S/54752                0
16473  YAK/S/54754                0
16474  YAK/S/54755                0
16475  YAK/S/54757                0
16476  YAK/S/54758                0
16477  YAK/S/54760                0
16478  YAK/S/54762                1
16479  YAK/S/54767                0
16480  YAK/S/54768                0
16481  YAK/S/54773                0
16482  YAK/S/54776                0
16483  YAK/S/54778                0
16484  YAK/S/54780                0
16485  YAK/S/54782                0
16486  YAK/S/54784                0
16487  YAK/S/54785                0
16488  YAK/S/54787                0
16489  YAK/S/54792                0
16490  YAK/S/54795                0
16491  YAK/S/54797                1
16492  YAK/S/54798                0
16493  YAK/S/54800                0
16494  YAK/S/54803                0
16495  YAK/S/54804                0

[16496 rows x 2 columns]

In [30]:
submision94 = submision94.to_csv("submision_lgbm_turn.csv", index = False)